.partners {
	text-align: center;
}

.partners h2,
.partners p {
	max-inline-size: unset;
	margin-block-end: 1ch;
}

.partners div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.partners a {
	flex: 1;
	display: block;
	min-width: 300px;
	max-width: 300px;
	padding: var(--size-7);
}

.partners a img {
	transition: scale .1s ease-in;
}

.partners a:hover img {
	scale: 1.05;
}
