.card {
	--card-radius: var(--radius-conditional-3);
	--card-padding: var(--size-3);
	--card-item-gap: var(--size-2);
	--card-orientation: ;
	--card-action-orientation: ;
	--card-action-placement: start;


	--card-color: var(--surface-2);
	--card-color-title: var(--gray-2);
	--card-color-subtitle: var(--gray-5);
	--card-color-body: var(--gray-4);
}

.card.card--horizontal {
	--card-orientation: row;
}

.card.card--vertical {
	--card-orientation: column;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: var(--card-radius);
	background-color: var(--card-color);
	overflow: hidden;
	flex-direction: var(--card-orientation);
	flex-wrap: nowrap;
}

.card > div {
	display: flex;
	height: -webkit-fill-available;
	flex-direction: column;
}

.card__thumbnail {
	object-fit: cover;
}

.card__thumbnail:has(img) {
	display: flex;
	place-content: center;
}

.card__thumbnail img {
	object-fit: contain;
}

.card--horizontal .card__thumbnail,
.card--horizontal .card__thumbnail {
	max-width: 200px;
}

.card--vertical .card__thumbnail {
	max-width: 100%;
}

.card__header {
	position: relative;
	z-index: 1;
	flex-shrink: 0;
	padding: var(--card-padding);
}

.card__header .card__title + .card__subtitle, 
.card__header .card__subtitle + .card__subtitle {
	margin-top: var(--card-item-gap);
}

.card__title  {
	font-family: var(--font-serif);
	color: var(--card-color-title);
}

.card__subtitle {
	color: var(--card-color-subtitle);
}

.card__body {
	padding: var(--card-padding);
	color: var(--card-color-body);
	flex: 1 1 auto;
}

.card__actions {
	display: flex;
	flex-shrink: 0;
	flex-basis: auto;
	gap: var(--card-item-gap);
	padding: var(--card-padding);
	margin-top: auto;
	flex-direction: var(--card-action-orientation);
	flex-wrap: nowrap;
	justify-content: var(--card-action-placement);
}

.card .card__actions.card__actions--horizontal {
	--card-action-orientation: row;
}

.card .card__actions.card__actions--vertical {
	--card-action-orientation: column;
}

.card__actions--start {
	--card-action-placement: flex-start;
}

.card__actions--center {
	--card-action-placement: flex-start;
}

.card__actions--end {
	--card-action-placement: flex-end;
}