:root {
  --layout-max-width: 1440px;
  --layout-max-width-section: 1300px;
  --layout-inline-padding: var(--size-fluid-2);
  --layout-section-gap: var(--size-11);
}

footer a,
header a {
  color: var(--text-2) !important;
}

main {
  margin-top: var(--header-estimated-height);
  min-height: 75vh;
}

main > section,
header,
footer {
  padding-inline: var(--layout-inline-padding);
  margin-inline: auto;
}

header,
footer {
  max-width: var(--layout-max-width);
}

main > section {
  max-width: var(--layout-max-width-section);
}

:where(main > section:first-of-type),
	main > section + section,
	footer {
  margin-block-start: var(--layout-section-gap);
}

footer {
  position: relative;
}

/* Header Swish Banner */

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

header::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--surface-1);
  box-shadow: var(--header-shadow);
  top: 0;
  left: 0;

  height: 100%;
  /* Full bleed */
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
