:root {
  --layout-max-width: 1440px;
  --layout-max-width-section: 1300px;
  --layout-inline-padding: var(--size-fluid-2);
  --layout-section-gap: var(--size-11);
}

footer a,
header a {
  color: var(--text-2) !important;
}

main {
  min-height: 75vh;
}

main > section,
header,
footer {
  padding-inline: var(--layout-inline-padding);
  margin-inline: auto;
}

header .navigation,
footer {
  max-width: var(--layout-max-width);
}

main > section {
  max-width: var(--layout-max-width-section);
}

:where(main > section:first-of-type),
	main > section + section,
	footer {
  margin-block-start: var(--layout-section-gap);
	width: 100%;
}


footer {
  position: relative;
}

/* Header Swish Banner */

header {
	position: relative;
	z-index: 1000;
  width: 100%;
  background-color: var(--surface-1);
  box-shadow: var(--header-shadow);
}

section:first-child {
	margin-block: unset;
}