:root {
  --header-logo-size: var(--size-8);
  --header-block-padding: 1rem;
  --header-shadow: var(--shadow-2);
	--header-background-color: var(--surface-1);
	
  --header-estimated-height: calc(
		var(--header-block-padding) * 2 + var(--header-logo-size)
		);
		
	--header-action-height: 2.5rem;
		
	--header-item-gap: 1ch;
	--header-item-radius: var(--radius-2);

	--header-drawer-item-block-padding: .5ch;
	--header-drawer-item-inline-padding: 1.5ch;
}
header {
	--header-background-color: var(--surface-1);
}

@media (min-width: /* var(--size-md) */ 768px) {
  :root {
    --header-block-padding: 1rem;
    --header-logo-size: var(--size-9);
    --header-action-height: 3.125rem;
		--header-item-gap: clamp(var(--size-4), 5vw, var(--size-7));
  }

	.navigation__left button {
		display: none;
	}
}

header .navigation {
  display: flex;
  gap: var(--header-item-gap);
  justify-content: space-between;
  padding-block: var(--header-block-padding);
  white-space: nowrap;
}

.navigation__left,
.navigation__right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--size-5);
}

.navigation__logo {
	--logo-size: var(--header-logo-size);
}

.navigation svg,
.navigation__drawer svg {
  max-inline-size: unset;
}

.navigation__left button.menu-button,
.navigation__drawer button.menu-button {
	margin-inline-start: auto;
	padding: .75ch;
	align-self: flex-end;
	font-size: var(--font-size-4);
	border-radius: var(--radius-2);
}
.navigation__left button svg,
.navigation__drawer button svg {
	pointer-events: none;
}

.navigation__right ul,
.navigation__drawer ul {
	list-style: none;
	padding-inline-start: unset;
	border-radius: var(--header-item-radius) 0 var(--header-item-radius) var(--header-item-radius);
}

.navigation__right li,
.navigation__drawer li {
	padding-inline-start: unset;
	max-inline-size: unset;
}

.navigation__right a,
.navigation__drawer a {
	display: block;
	margin-block: 0;
}

.navigation__right li a,
.navigation__drawer li a {
	padding-inline: var(--header-drawer-item-inline-padding);
}

.navigation__right > div,
.navigation__right > a,
.navigation__drawer > div,
.navigation__drawer > a {
	padding-inline: var(--size-3);
	padding-block: var(--header-drawer-item-block-padding);
	position: relative;
	border-radius: var(--header-item-radius) var(--header-item-radius) 0 0;
	width: 100%;
}

.navigation__right a,
.navigation__list-item p,
.navigation__drawer a {
	display: flex;
	font-size: var(--font-size-2);
	color: var(--text-2);	
}

.navigation__right > div > a svg,
.navigation__drawer > div > a svg {
	margin-inline-start: 1ch;
}

.navigation__drawer {
	display: none;
}
@media (max-width: /* var(--size-md) */ 768px) {
	.navigation {
		flex-direction: column;	
	}
	.navigation__left {
		align-items: center;
		justify-content: space-between;
	}
	
	.navigation select {
		align-self: center;
	}

	.navigation__right {
		display: none;
	}

	.navigation__drawer {
		display: flex;
	}
}

@keyframes fade-in {
	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
		visibility: hidden;
	}
}

.navigation__right div {
	cursor: pointer;
}

.navigation__right ul {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: var(--surface-2);
	padding-block: 1ch;
	box-shadow: var(--header-shadow);
	opacity: 0;
	visibility: hidden;
}

.navigation__right .navigation__list-item:hover {
	background-color: var(--surface-2);
}
.navigation__right .navigation__list-item:hover ul {
	animation: fade-in 0.3s var(--ease-3) forwards;
}
.navigation__right .navigation__list-item:hover svg {
	transform: rotate(180deg);
}

.navigation__drawer {
	z-index: 1000;
	flex-direction: column;
	align-items: center;
	
	width: 100%;
	max-width: var(--size-content-2);
	height: 100%;
	
	padding-inline: var(--layout-inline-padding);
	padding-block: var(--header-block-padding);
	
	background-color: var(--header-background-color);
	box-shadow: var(--shadow-4);
	opacity: 0;

	transition-property: visibility, opacity, transform;
	transition-duration: 200ms;
	transition-timing-function: var(--ease-in-out-4);
}
.navigation__drawer[aria-hidden="false"] {
	opacity: 1;
}

.navigation__drawer button:not(.menu-button) {
  font-weight: var(--font-weight-4);
	font-size: var(--font-size-5);
	line-height: var(--font-lineheight-3);
}

.navigation__drawer p,
.navigation__drawer a,
.navigation__drawer ul {
	width: 100%;
  font-weight: var(--font-weight-4);
	font-size: var(--font-size-4);
	line-height: var(--font-lineheight-3);
}

.navigation__drawer .navigation__list-item svg {
	display: none;
}
