.hero {
	--_image: ;
	--_justify: flex-start;
}

@media (min-width: 768px) {
	.hero {
		min-height: var(--size-15);
	}
}

.hero--placement-left {
	--_justify: flex-start;
}

.hero--placement-right {
	--_justify: flex-end;
}

.hero {
  position: relative;
  max-width: var(--layout-max-width);
	border-radius: var(--radius-conditional-4);
	overflow: hidden;
	display: flex;
	justify-content: var(--_justify);
	align-items: center;
}

section:first-of-type.hero {
	margin-block-start: unset;
}

.hero > div {
	width: 50%;
	display: flex;
	justify-content: center;
}

.hero > div > div {
	max-width: var(--size-content-2);
}

.hero h2 {
	margin-block-end: 1ch;
	font-size: var(--font-size-7);
	font-weight: var(--font-weight-9);
}

.hero::before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-image: var(--_image);
	background-color: var(--_placeholder-color);
}