.hero {
	--_image: ;
	--_justify: flex-start;
	--_min-height: 75vh;
}

@media (min-width: 768px) {
	.hero {
		--_min-height: var(--size-15);
	}
}

.hero--placement-left {
	--_justify: flex-start;
}

.hero--placement-right {
	--_justify: flex-end;
}

.hero {
  position: relative;
  max-width: var(--layout-max-width);
	min-height: var(--_min-height);
	border-radius: var(--radius-conditional-4);
	overflow: hidden;
	display: flex;
	justify-content: var(--_justify);
	align-items: center;
}

section:first-of-type.hero {
	margin-block-start: unset;
}

.hero > div {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.hero h2 {
	margin-block-end: 1ch;
	font-size: var(--font-size-7);
	font-weight: var(--font-weight-9);
}

.hero img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.hero__content {
	width: clamp(var(--size-content-1), 100%, var(--size-content-2));
}