.hero {
	--_image: ;
	--_justify: flex-start;
	--_min-height: 75vh;

	--_image-brightness: 1;
	--_image-blur: 2px;
}

@media (min-width: 768px) {
	.hero {
		--_min-height: var(--size-15);
		--_image-blur: 0;
	}
}

@media (prefers-color-scheme: dark) {
	.hero {
		--_image-brightness: .8;
	}
}

.hero--placement-left {
	--_justify: flex-start;
}

.hero--placement-right {
	--_justify: flex-end;
}

.hero {
  position: relative;
  max-width: var(--layout-max-width);
	min-height: var(--_min-height);
	border-radius: var(--radius-conditional-4);
	overflow: hidden;
	display: flex;
	justify-content: var(--_justify);
	align-items: center;
}

section:first-of-type.hero {
	margin-block-start: unset;
}

.hero > div {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.hero h2 {
	margin-block-end: 1ch;
	font-size: var(--font-size-7);
	font-weight: var(--font-weight-9);
}

.hero img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	filter: brightness(var(--_image-brightness)) blur(var(--_image-blur));
}

.hero__content {
	--_padding: var(--size-5);
	position: relative;
	padding: var(--_padding);
	width: clamp(var(--size-content-1), 100%, var(--size-content-2) + var(--_padding) * 2);
	border-radius: var(--radius-conditional-3);
	overflow: hidden;
}

.hero__content::before {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--surface-4);
	opacity: .5;
}