section.cta {
	--_radius: var(--radius-4);
	--_gap: var(--size-7);
}

:where([color-scheme="light"] section.cta) {
	--_background: #FCFAF5;
	--_foreground: #F5F3ED;
}
:where([color-scheme="dark"] section.cta) {
	--_background: var(--surface-2);
	--_foreground: var(--surface-3);
}

section.cta h2 {
	text-align: center;
	margin-block-end: var(--size-9);
	max-inline-size: 100%;
}

section.cta > div {
	display: flex;
	flex-wrap: wrap;
	gap: var(--_gap);
}

section.cta > div > div {
	flex: 1;
	display: flex;
	min-width: clamp(25ch, 33vw, 35ch);
	width: 100%;
}

section.cta a {
	--_image-scale: 1;
	
	flex: 1;
	display: flex;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

section.cta a:hover {
	--_image-scale: 1.05;
}

section.cta .card {
	--card-radius: var(--_radius);
	--card-color: var(--_background);
	flex: 1;
	display: flex;
}

section.cta .card__thumbnail {
	display: flex;
	place-items: center;
	padding-block: var(--size-10);
}

section.cta .card__thumbnail img {
	inline-size: var(--size-12);
	scale: var(--_image-scale);
	transition: scale .1s ease-in;
}

section.cta .card__body {
	background-color: var(--_foreground);
	min-height: var(--size-11);
}

section.cta .card__body h3 {
	font-size: var(--font-size-4);
	margin-block-end: .5ch;
}
